[submodule "L2/siaweb4/folksonomies"]
	path = L2/siaweb4/folksonomies
	url = ssh://gitolite@dev.joohoo.fr:443/web/L2/folksonomies.git
[submodule "L2/siaweb4/superVod"]
	path = L2/siaweb4/superVod
	url = ssh://gitolite@dev.joohoo.fr:443/web/L2/superVod.git
[submodule "IUT/2-s4-stage"]
	path = IUT/2-s4-stage
	url = ssh://gitolite@garp/latex/IUT/stage.git
[submodule "L2/projet4/boggle"]
	path = L2/projet4/boggle
	url = ssh://git@dev.joohoo.fr:443/data/dev/git/repositories/logiciel/L2/boggle
