*.log
IUT/
*aux
*lol
*idx
*glo
*out
*swo 
*swp
*.o
docProjets
/M1/MCPR/TP/tp4/TP4_MCPR/nbproject/private/
/M1/MCPR/TP/tp4/TP4_MCPR/build/
/M1/CISI/TP/TP3_CISI/nbproject/private/
/M1/CISI/TP/TP3_CISI/build/
/M1/CISI/TP/TP3_CISI/dist/