AuthName "Demande d'authentification"
AuthType Basic
AuthUserFile "/data/dev/cours/.htpasswd"
Require valid-user

HeaderName /.imgftp/head.htm
ReadmeName /.imgftp/foot.htm

IndexIgnore .htaccess Thumbs.db db _notes
IndexOptions SuppressHTMLPreamble FancyIndexing FoldersFirst IgnoreCase 
IndexOrderDefault Ascending Description

AddIcon (IMG,/.imgftp/image.gif) .svg .SVG .wmf .WMF 
AddIcon (IMG,/.imgftp/gif.gif) .gif .GIF
AddIcon (IMG,/.imgftp/jpg.gif) .jpg .JPG .jpeg .JPEG
AddIcon (IMG,/.imgftp/png.gif) .png .PNG
AddIcon (IMG,/.imgftp/psd.gif) .psd .PSD
AddIcon (IMG,/.imgftp/ico.gif) .ico .ICO
AddIcon (IMG,/.imgftp/tif.png) .tif .TIF .tiff .TIFF

AddDescription "Image PNG"       *.png *.PNG
AddDescription "Image JPG"       *.jpg *.JPG
AddDescription "Image BMP"       *.bmp *.BMP
AddDescription "Image SVG"       *.svg *.SVG
AddDescription "Image GIF"       *.gif *.GIF
AddDescription "Image WMF"       *.wmf *.WMF
AddDescription "Image PSD"       *.psd *.PSD
AddDescription "Image ICO"       *.ico *.ICO

AddIcon (VIDEO,/.imgftp/wmp.png)  .mov .MOV .avi .AVI .mpg .MPG .wmv .WMV
AddDescription "Video QuickTime"    *.mov *.MOV
AddDescription "Video AVI"          *.avi *.AVI
AddDescription "Video MPEG"         *.mpg *.MPG
AddDescription "Video WMV"          *.wmv *.WMV

AddIcon (AUDIO,/.imgftp/wmp.png) .wma .mp3 .mp4 .midi .mid .WMA .MP3 .MP4 .MIDI .MID
AddDescription "Audio MP3"     *.mp3 *.MP3
AddDescription "Audio MP4"     *.mp4 *.MP4
AddDescription "Audio WMA"     *.wma *.WMA
AddDescription "Audio MIDI"    *.mid *.midi

AddIcon (FLA,/.imgftp/fla.gif)      .fla
AddIcon (AS,/.imgftp/.imgftps.gif)        .as
AddIcon (FLV,/.imgftp/flv.gif)      .flv
AddDescription "Fichier Flash Video" *.flv
AddDescription "Projet Flash"         *.fla
AddDescription "Fichier ActionScript"          *.as

AddIcon (SWF,/.imgftp/swf.png)    .swf
AddDescription "Animation Flash"       *.swf

AddIcon (TXT,/.imgftp/txt.png) .txt
AddIcon (TEX,/.imgftp/tex.png) .tex
AddDescription "Fichier Source LaTeX" *.tex

AddIcon (DOC,/.imgftp/word.png) .doc .rtf .docx
AddDescription "Document Word" *.doc *.rtf *.docx

AddIcon (DOC,/.imgftp/powerpoint.png) .ppt .pptx
AddDescription "Présentation PowerPoint" *.ppt *.pptx

AddIcon (DOC,/.imgftp/excel.png) .xls .xlss
AddDescription "Feuille de calcul Excel" *.xls *.xlsx

AddIcon (PHP,/.imgftp/php.gif) .php .phtml
AddDescription "Page Web PHP" *.php
AddDescription "Page Web PHP" *.phtml

AddIcon (HTM,/.imgftp/web.gif) .htm .html .HTM .HTML .xhtml .XHTML
AddDescription "Page Web HTML" *.htm *.HTM
AddDescription "Fichier HTML Compilé" *.chm
AddIcon (HTC,/.imgftp/chm.gif) .chm

AddIcon (HTC,/.imgftp/ini.png) .htc
AddDescription "Comportement IExplorer" *.htc

AddIcon (CSS,/.imgftp/css.png) .css
AddDescription "Feuille de style CSS" *.css
AddIcon (CSS,/.imgftp/js.png) .js
AddDescription "Fichier Javascript" *.js
AddIcon (CSS,/.imgftp/xml.png) .xml
AddDescription "Fichier XML" *.xml

AddIcon (EXE,/.imgftp/exe.gif) .exe .EXE 
AddDescription "Exécutable" *.exe *.EXE

AddIcon (O,/.imgftp/binaire.png) .o .O
AddDescription "Binaire" *.o

AddIcon (PDF,/.imgftp/pdf.png) .pdf .PDF
AddDescription "Document Adobe PDF" *.pdf *.PDF

AddIcon (ARCHIVE,/.imgftp/archive.gif) .jar .zip .rar .arj .arc .tar .targz tarbz2.gz .bz2
AddDescription "Archive ZIP" *.zip *.ZIP
AddDescription "Archive RAR" *.rar *.RAR
AddDescription "Archive ARJ" *.arj *.ARJ
AddDescription "Archive ARC" *.arc *.ARC
AddDescription "Archive TAR" *.tar *.TAR
AddDescription "Archive JAR" *.jar *.JAR
AddDescription "Archive GZ" *.gz *.GZ
AddDescription "Archive BZ2" *.bz2 *.BZ2
AddDescription "Archive TARGZ" *.targz *.TARGZ

AddIcon (C,/.imgftp/c.gif) .c
AddDescription "Fichier C" *.c
AddIcon (H,/.imgftp/h.gif) .h
AddDescription "Fichier d'ent-tête" *.h
AddIcon (VCPROJ,/.imgftp/vcproj.gif) .vcproj
AddDescription "Projet Visual C++" *.vcproj

AddIcon (PAR,/.imgftp/dir_par.png) ..
AddIcon (DIR,/.imgftp/dir.png) ^^DIRECTORY^^
AddDescription "Dossier parent" ..
AddDescription "Répertoire" */

DefaultIcon /.imgftp/txt.png

