balise1
{
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
}

balise2
{
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
}

balise3
{
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
	propriete: valeur;
}

