/* Exemple */

body
{
	margin: auto; /* centre le site */
}

#header
{
	width: 880px;
	background: url('header.jpg') no-repeat;
}

/* on met un fond au menu de gauche */
#leftbar
{
	background-image: url('urldetonimage');
	/*repete l'image uniquement en ordonnée*/
	background-repeat: repeat-x; 
	margin-left: 50px;
	width: 80px;
	padding: 5px;
}

#content
{
	background-color: #EFEFEF;
	width: 800px;
}

#news
{
	margin-left: 700px;
	width: 150px;
	padding: 5px;
}
li /*taille du texte dans le menu*/
{
	font-size: 12pt;
}

#content p
{
	text-color: #FFFFFF;
}
/* p a correspond à tous les liens inclut dans
   un paragraphe, soit tous les liens*/

/* Quand on passe la souris sur le lien*/
p a:hover 
{
	color: red;
} 

/* Quand on clique sur le lien */
p a:active
{
	color: black;
	text-decoration: underline;
} 

/* Quand on ne fait rien sur le lien*/
p a
{
	color: yellow;
}

